{% extends 'base.html' %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="{{films.film_icon.url}}" height="270">
                <div class="card-body">
                    <a class="btn btn-danger" href="{% url 'cartapp:update' films.id %}">Update</a>
                    <a class="btn btn-danger" href="{% url 'cartapp:delete' films.id %}">Delete</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h5>Name of the Movie:  </h5>{{films.film_name}}<br>
            <h5>Description of the Movie </h5>{{films.film_desc}}<br>
            <h5>Name of the Year </h5>{{films.film_year}}<br><br>
            <a class="btn btn-warning" href="http://127.0.0.1:8000/">Home</a>
        </div>
    </div>
</div>

{% endblock %}